@keyframes unseal {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes unsealLock {
  from {
    transform: translateY(47vh);
  }
  to {
    transform: translateY(-100vh);
  }
}
@keyframes bloom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes workCarousel {
  0% {
    top: 0;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -370%;
    opacity: 0;
  }
}
@keyframes hover {
  0% {
    top: 60%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 60%;
  }
}
@keyframes carousel {
  from {
    left: 150%;
  }
  to {
    left: -400%;
  }
}
@keyframes artBG {
  0% {
    background-image: url("../media/images/art.jpg");
  }
  25% {
    background-image: url("../media/images/art2.jpg");
  }
  50% {
    background-image: url("../media/images/art.jpg");
  }
  75% {
    background-image: url("../media/images/art2.jpg");
  }
  100% {
    background-image: url("../media/images/art.jpg");
  }
}
.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.slower:nth-child(2) {
  transition-delay: 0.5s;
}

.slower:nth-child(3) {
  transition-delay: 1s;
}

.slower:nth-child(4) {
  transition-delay: 1.5s;
}

.slower:nth-child(5) {
  transition-delay: 2s;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.fadeOut {
  opacity: 0;
  transform: scale(0);
}

.fadeIn {
  opacity: 1;
  transform: scale(1);
}

.dark {
  transition: 2s;
  background: #101010;
}

.inactive {
  border: 1px solid white;
  background: transparent;
}

.active {
  background: black;
  transform: scale(1.01);
  border: none;
}

.headerText {
  font-size: 32px;
  left: 20%;
}

.activeText {
  font-size: 50px;
  left: 40%;
}

.inView {
  position: absolute;
  box-shadow: none;
  top: 0;
}
.inView img {
  box-shadow: none;
}

.headingposition {
  bottom: 20%;
}

.headingstyle {
  position: relative;
}

.jstoverflow {
  overflow: hidden;
  height: 200px;
}

.overflow {
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "PoppinsXlight", "PoppinsSemi", sans-serif;
}

:root {
  --gold: black;
  --ui-ux-text: rgb(102 102 102);
  --body-background: rgb(0, 0, 0);
  --border-right: rgb(255 255 255);
  --name-color: rgb(255 255 255 / 15%);
  --link-text: rgb(118 116 116);
  --link-hover: rgb(122, 199, 229);
  --text:rgb(211, 211, 211);
  --carousel-text-color: rgb(47 180 231 / 37%);
  --work-text:rgb(47, 180, 231);
  --background:rgb(87, 87, 87);
  --header-background: rgba(255, 255, 255, .1);
  --box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  --work-background: linear-gradient(#c0efeb, #c0ceef, #c7c0ef, #e1c0ef, #efc0d8, #efe3c0, #efe3c0, #fff);
  --about-background: linear-gradient(#fff, #ffeaf3, #ddffb0, #e4fcff, #46a8c6);
  --footer-background: linear-gradient(#46a8c6, #68b8d1, rgb(111 155 211));
}

@font-face {
  font-family: droid;
  src: url("../media/font/android_7.ttf");
}
@font-face {
  font-family: PoppinsXlight;
  src: url("../media/font/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: PoppinsSemi;
  src: url("../media/font/Poppins-SemiBold.ttf");
}
.droid {
  font-family: droid;
}

body {
  transition: 3s ease;
  background: #8e9393;
  overflow-x: hidden;
}
body .back {
  padding-bottom: 30px;
  animation: 1s 2s unseal linear forwards;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
body .lock {
  animation: 3s 2.35s unsealLock linear forwards;
  width: 10vw;
  height: 10vh;
  border-radius: 50%;
  left: 45%;
  z-index: 6;
  transform: translateY(47vh);
  z-index: 10;
}
body .back, body .lock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-size: 14px;
  color: white;
}

/*=========================================
Menu Links Action
=========================================*/
.nav-open {
  transform: translateX(0);
}

.nav-closed {
  transform: translateX(500px);
}

/*=========================================
Mobile menu Styles
=========================================*/
.mobile-menu {
  position: fixed;
  top: 10vh;
  display: flex;
  height: 100vh;
  width: 30%;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  background: rgb(0, 0, 0);
  transition: 0.3s;
  z-index: 5;
  text-align: center;
}
.mobile-menu li:last-child {
  margin-right: 30px;
}
.mobile-menu li {
  transition: 0.3s;
  width: 100%;
  text-align: start;
}
.mobile-menu li a {
  width: 100%;
  padding: 20px 0;
  padding-left: 60px;
  display: flex;
  color: white;
  font-weight: 600;
  font-family: droid;
  transition: 0.3s;
}
.mobile-menu li:hover {
  background: var(--gold);
  border-radius: 0 20px 20px 0;
}
.mobile-menu li:hover a {
  color: var(--cta);
}

/*=====================================
Mobile hide setup
=====================================*/
@media (max-width: 950px) {
  .hide-for-mobile {
    display: none;
  }
}

/*=====================================
Desktop hide setup
=====================================*/
@media (min-width: 951px) {
  .hide-for-desktop {
    display: none;
  }
}

/*========================================
    Header design : Glass effect
========================================*/
header {
  position: relative;
  border-radius: 30px;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  top: 2%;
  z-index: 4;
  margin: 0 3%;
}
header .logo {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: var(--gold);
}
header .logo .span {
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: var(--gold);
  top: 50%;
  border-radius: 50%;
  left: -6px;
}

/*========================================
  Navigation
========================================*/
#desktop-nav li {
  display: inline-block;
  padding-right: 10px;
  font-size: 13px;
}
#desktop-nav li:not(:last-child) {
  padding-right: 30px;
}
#desktop-nav li a {
  color: whitesmoke;
  transition: 0.4s ease;
  font-weight: 700;
}
#desktop-nav li a:hover {
  color: var(--gold);
}

/*=========================================
Mobile menu Styles
=========================================*/
#menu {
  cursor: pointer;
  background: black;
  width: 80px;
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: 0.3s linear;
  position: fixed;
  overflow: hidden;
  right: 50px;
  top: 60px;
  z-index: 10;
}
#menu:hover .activeBackground {
  transform: scale(1.1);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: bloom 0.2s ease-in-out forwards;
  background-color: white;
  transform-origin: 80% 80%;
}
#menu:hover .hamburger {
  background-color: black;
}
#menu .hamburger {
  z-index: 2;
  width: 12px;
  height: 1px;
  transition: 0.2s linear;
  background-color: white;
  transition: transform 0.3s;
  display: block;
}
#menu .hamburger:not(:last-child) {
  margin-bottom: 3px;
}
#menu:hover {
  transform: scale(1.2);
}

/*=========================================
Menu Open Action
=========================================*/
.menu-open .hamburger {
  width: 30px;
  height: 30px;
}
.menu-open span:nth-child(2) {
  transform: translateY(4px) rotate(45deg);
  background-color: white;
}
.menu-open span:nth-child(3) {
  opacity: 0;
}
.menu-open span:last-child {
  transform: translateY(-4px) rotate(-45deg);
  background-color: white;
}

/*========================================
    Hero section
========================================*/
main .border {
  border: 1px solid white;
  box-shadow: 3px 1px 12px 0px #4d4d4d;
  margin: 3.6vh 5vw;
  overflow: hidden;
  position: relative;
}
main .border .heroProfile {
  height: 100%;
  position: absolute;
  left: 25vw;
}
main .hero-section {
  position: relative;
  align-items: center;
  height: 80vh;
  display: flex;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 20px;
}
main .hero-section .brand {
  animation: carousel 20s linear infinite;
  position: absolute;
  transition: 0.3s;
  display: flex;
}
main .hero-section .brand .text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  transform: scaleX(0.8);
  font-size: 500px;
}
main .hero-section .txt {
  position: absolute;
  top: 35%;
  right: 70px;
  font-size: 15px;
  line-height: 2.7rem;
  color: white;
}
main .hero-section .email-contact {
  position: absolute;
  padding: 20px 30px 20px 20px;
  background: black;
  border-radius: 0 30px 30px 0;
  left: 0;
  top: 40%;
  height: 20px;
  color: white;
  text-decoration: underline;
  display: flex;
  align-items: center;
  transition: 0.3s;
  font-size: 14px;
  gap: 8px;
}
main .hero-section .text-container {
  width: 70%;
  position: absolute;
  height: 150px;
  bottom: 0;
}
main .hero-section .text-container h4 {
  font-size: 30px;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  color: rgb(235, 233, 233);
  height: 110vh;
  padding: 30px;
}
.work .exitBtn {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  padding: 16px;
  margin-top: 100px;
  left: 50px;
  z-index: 5;
  background: black;
  transition: 0.3s ease;
}
.work .exitBtn:hover {
  background: var(--gold);
  transform: scale(1.2);
}
.work .description {
  font-size: 12px;
  position: absolute;
  margin-top: 3%;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.work .description .projectDetails {
  display: flex;
  gap: 100px;
}
.work .description .contributors .year {
  margin-top: 30px;
}
.work .job-details {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 9vh;
  justify-content: center;
  height: 90%;
}
.work .job-details h1 {
  position: absolute;
  left: 40%;
}
.work .job-details h1 span {
  position: absolute;
  padding-right: 10px;
  border-right: 2px solid rgb(235, 233, 233);
  top: 70%;
  left: 70%;
}
.work .job-details p {
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
  top: 60%;
  left: 53%;
}
.work .job-details p:hover {
  color: var(--gold);
}
.work .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work .images {
  animation: workCarousel 30s linear infinite;
  position: absolute;
  transition: 0.3s;
  height: 400%;
  display: flex;
}
.work .images:hover {
  animation-play-state: paused;
}
.work .images .set1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
  /*       .workPreview {
          width: 400px;
          height: 200px;
          transition: .3s;

          &:hover {
            transform: scale(1.1);
          }
        }
   */
}

.workPreview {
  width: 400px;
  height: 200px;
  transition: 0.3s;
}
.workPreview:hover {
  transform: scale(1.1);
}

.workDetails {
  padding-top: 40px;
  color: rgb(235, 233, 233);
  background: #1c1b1b;
  background: #101010;
}
.workDetails p {
  color: rgb(151, 150, 150);
}
.workDetails .job {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(235, 233, 233);
  padding-bottom: 10px;
  margin: 0 50px;
  margin-bottom: 30px;
}
.workDetails .moreInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 12px;
  text-align: start;
  margin: 0 50px;
}
.workDetails .moreInfo .deets {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.workDetails .userStory, .workDetails .deets, .workDetails .prototype {
  display: grid;
}
.workDetails .userStory {
  grid-template-columns: 1fr 2fr;
  margin: 30px 50px;
}
.workDetails .userStory .points {
  margin-bottom: 20px;
}
.workDetails .userStory .points h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.workDetails .userStory .points p {
  font-size: 12px;
}
.workDetails .videoRep {
  height: 50vh;
}
.workDetails .videoRep::before {
  background: url("../media/images/videobg.gif");
}
.workDetails .mockups {
  height: 60vh;
}
.workDetails .mockups::before {
  background: url("../media/images/Slide0.JPG");
}
.workDetails .mockups a {
  position: relative;
  color: var(--gold);
}
.workDetails .mockups .hifi {
  position: absolute;
  display: flex;
  align-items: end;
  gap: 20px;
  right: 50px;
  height: 70%;
  width: 50%;
}
.workDetails .mockups .hifi img {
  position: relative;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.workDetails .mockups .hifi .mobile {
  width: 20%;
  height: 70%;
}
.workDetails .mockups, .workDetails .videoRep {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0 60px;
  margin: 40px 20px;
  color: rgb(235, 233, 233);
}
.workDetails .mockups::before, .workDetails .videoRep::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.workDetails .mockups h3, .workDetails .videoRep h3 {
  padding-bottom: 20px;
  color: rgb(235, 233, 233);
  position: relative;
  font-size: 52px;
}
.workDetails .mockups p, .workDetails .videoRep p {
  color: rgb(227, 227, 227);
  padding-bottom: 40px;
  position: relative;
  font-size: 18px;
}
.workDetails .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.workDetails .container .thought {
  width: 40%;
}
.workDetails .container .thought h3 {
  margin-bottom: 20px;
}
.workDetails .container .thoughtProcess {
  position: relative;
  display: flex;
  align-items: center;
  height: 400px;
  width: 500px;
  justify-content: space-evenly;
}
.workDetails .container .thoughtProcess p {
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workDetails .container .thoughtProcess .tp, .workDetails .container .thoughtProcess .lft, .workDetails .container .thoughtProcess .rgt, .workDetails .container .thoughtProcess .btm {
  width: 110px;
  height: 110px;
}
.workDetails .container .thoughtProcess .mid {
  width: 150px;
  height: 150px;
}
.workDetails .container .thoughtProcess .tp, .workDetails .container .thoughtProcess .btm {
  position: absolute;
}
.workDetails .container .thoughtProcess .tp {
  top: 0;
}
.workDetails .container .thoughtProcess .btm {
  bottom: 0;
}
.workDetails .prototype {
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 350px;
}
.workDetails .prototype .img {
  width: 100%;
  height: 100%;
}
.workDetails .prototype .grp2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.workDetails .prototype .grp2 .img2 {
  width: 100%;
  height: 170px;
}
.workDetails .nextProject {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.workDetails .nextProject h1 {
  z-index: 3;
}
.workDetails .nextProject img {
  position: absolute;
  width: 80%;
  top: 60%;
  transform: rotate(-10deg);
  animation: hover 2s ease infinite;
}

.about {
  position: relative;
  padding: 20px 20px 60px 20px;
}
.about aside {
  position: absolute;
  transform: rotate(-90deg);
  top: 25%;
  left: -16%;
  font-size: 99px;
  font-weight: 600;
  font-family: "droid";
}
.about .topImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 40px 0;
}
.about .topImage span {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .topImage span:first-child {
  height: 75%;
  width: 20%;
  box-shadow: 20px 9px 11px 0px #555353;
  background-image: url("../media/images/game.png");
}
.about .topImage span:nth-child(2) {
  height: 100%;
  width: 25%;
  box-shadow: 0px 20px 17px 0px rgba(93, 90, 90, 0.8117647059);
  background-image: url("../media/images/profile.jpg");
  z-index: 2;
}
.about .topImage span:last-child {
  height: 85%;
  width: 20%;
  box-shadow: -16px 8px 7px 0px rgba(47, 46, 46, 0.8392156863);
  animation: artBG 20s ease-in forwards infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .bio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .bio h2, .about .bio p {
  width: 50%;
  margin-bottom: 20px;
}

.contact {
  position: relative;
  color: white;
}
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.2);
  background: url("../media/images/videobg.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact h2 {
  color: var(--gold);
}
.contact h3, .contact h2 {
  position: relative;
  padding: 30px 50px 10px;
}
.contact p {
  position: relative;
  margin: 0 50px;
  font-size: 12px;
}
.contact .contactMe {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 30vh;
}
.contact .contactInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contactInfo h5 {
  margin-bottom: 20px;
}
.contact .contactInfo button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 50px;
  color: white;
  transition: 0.2s ease;
}
.contact .contactInfo button:hover {
  background: black;
  transform: scale(1.01);
  border: none;
}

.back-Top {
  position: absolute;
  width: 40px;
  bottom: 0;
  padding: 8px;
  left: 48%;
  background: black;
  border-radius: 0 50% 50% 0;
  transform: rotate(-90deg);
  transition: 0.3s ease;
}
.back-Top:hover {
  width: 42px;
  background: var(--gold);
}

.projects {
  position: absolute;
  z-index: 4;
  flex-direction: column;
  background: #101010;
  color: white;
  text-align: center;
  padding: 40px 20px;
  width: 100vw;
}
.projects .extBtn {
  width: 40px;
  position: absolute;
  padding: 10px;
  left: 7%;
  border-radius: 50%;
  background: black;
}
.projects h1 {
  align-self: center;
}
.projects h1 span {
  display: flex;
  left: 50%;
  transform: translateX(65%);
  padding-right: 10px;
  border-right: 2px solid white;
}
.projects .moredetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 40px;
  gap: 30px 12px;
}

.unknown {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}
.unknown:hover h3 {
  height: 50px;
}
.unknown h3 {
  transition: 0.3s;
  height: 30px;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  width: 100%;
  text-align: start;
  background: rgba(47, 47, 47, 0.6196078431);
  color: #959595;
}
.unknown img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}