* {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "BankGothic Lt BT", sans-serif;
  color: #9f9f9e;
}

@import "animations";

@font-face {
  font-family: Esp;
  src: url("../font/Esp.otf");
}
@font-face {
  font-family: dcd;
  src: url("../font/Digital Cards Demo.ttf");
}

.button {
  display: flex;
  background: linear-gradient(45deg, black, #a392377a);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2dvh;
  transition: .3s;
  
  &:hover {
    background: black;
    color: #a39237;
    transform: scale(0.98);
  }
}

.cancelBtn {
  position: absolute;
  cursor: pointer;
  background: #000000;
  padding: 1.5dvh;
  transition: .3s;
  
  &:hover {
    background: linear-gradient(45deg, black, #a39237);
    transform: scale(.97);
  }
}

.home {
  position: relative;
  padding: 2dvh;
  overflow: hidden;
  display: flex;
  background: #0e0e0e;
  background: #27282b;

  .about {
    justify-content: space-between;
    pointer-events: none;
    display: flex;
    z-index: 3;

    h1 {
      position: absolute;
      pointer-events: none;
      color: #a39237;
      font-family: dcd;
      transform: rotate(-90deg);

      &::before {
        content: "";
        position: absolute;
        background: rgb(163, 146, 55);
        height: .2dvh;
        z-index: 2;
      }
    }
        
    div {
      display: flex;
    }
    
    .text {
      position: relative;
      display: flex;
      width: 100%;
    
      h2, span h4 {
        color: #a39237;
      }

      span {
        h4 {
          margin-bottom: 1dvh;
        }
      }
    }
  }
  
  section  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .heroContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .hero {
        position: absolute;
        border-radius: 2.5dvh;
        box-shadow: -20px 19px 20px 0px #000000;

        &:nth-child(1) {
          z-index: 5;
          transform: rotate(-8deg);
        }
        &:nth-child(2) {
          z-index: 4;
        }
        &:nth-child(3) {
          z-index: 3;
        }
      }
    }

    .contactIcons {
      display: flex;
      position: fixed;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      z-index: 11;

      .a {
        animation: bop-in .8s ease-in forwards;
        transition: .3s;
        bottom: -100%;

        &:nth-child(1) {
          animation-delay: 6.6s;
        }
        &:nth-child(2) {
          animation-delay: 6.4s;
        }
        &:nth-child(3) {
          animation-delay: 6.2s;
        }
        &:nth-child(4) {
          animation-delay: 6s;
        }
      }

      span {
        right: -10dvh;
      }

      a, span {
        display: flex;
        gap: 1dvh;
        position: relative;
        align-items: center;
        transition: .3s;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          right: 0;
        }

        p {
          font-size: 1.6dvh;
          width: 68%;
          color: #a39237;
          border-bottom: 1px solid #a39237;
          text-align: end;
        }
      }
    }
  }

  .recentWork {
    position: relative;
    display: flex;
    gap: 2dvh;
    flex-direction: column;
    justify-content: center;

    h2 {
      pointer-events: none;
      color: #a39237;
      font-family: dcd;
      font-size: 1.7dvh;
      height: 4dvh;
      z-index: 10;
    }

    .projectList {
      height: 90dvh;
      display: flex;
      gap: 2dvh;
      flex-direction: column;
    }
  
    .project {
      display: flex;
      gap: 15px;
      overflow: hidden;
      position: relative;
      transition: .3s;
      z-index: 10;
      bottom: -15%; opacity: 0; filter: blur(50px); transform: scale(0);
      animation: transition-in .7s ease-out forwards;

      &:nth-child(1) {
        animation-delay: 2.3s;
      }
      &:nth-child(2) {
        animation-delay: 2.6s;
      }
      &:nth-child(3) {
        animation-delay: 2.9s;
      }
      &:nth-child(4) {
        animation-delay: 3.2s;
      }
      &:nth-child(5) {
        animation-delay: 3.5s;
      }
      &:nth-child(6) {
        animation-delay: 3.8s;
      }
      &:nth-child(7) {
        animation-delay: 4.1s;
      }
      &:nth-child(8) {
        animation-delay: 4.5s;
      }
      &:nth-child(9) {
        animation-delay: 4.8s;
      }

  
      img {
        position: absolute;
        right: 0;
        width: 100%;
        top: 8.5dvh;
      }

      .textBOX {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10dvw;
        background: linear-gradient(45deg, black, #414040);
        align-items: center;
        height: 8.5dvh;
        padding: 0 1.5dvh;
      }
  
      .link {
        display: flex;
        transition: .3s;
        position: absolute;
        top: 50%;
        left: 29%;
        justify-content: space-between;
        width: 16dvw;
        font-size: 2dvh;
        height: 10%;
        color: white;
        text-decoration: underline;
        align-items: center;
  
        img {
          height: 100%;
          width: 20%;
          top: 0;
        }
      }

      h3 {
        font-family: dcd;
        font-size: 1.3dvh;
        color: #a39237;
      }
  
      p {
        font-size: 1.8dvh;
      }
    }

    .form {
      display: flex;
      align-self: center;
      flex-direction: column;
      position: absolute;
      transition: .5s;
      gap: 2dvh;
      width: 80%;
      height: 50%;

      &::after {
        position: absolute;
        width: 140%;
        left: -20%;
        top: -42%;
        height: 100dvh;
        z-index: -1;
        backdrop-filter: blur(10px);
      }

      .cancelBtn {
        width: 100%;
        height: 12%;
        top: -17%;
      }

      input, textarea {
        outline: none;
        padding: 1dvh 2dvh;
        transition: .3s;
        box-shadow: 3px 5px 5px 0px rgb(33 33 33 / 53%);
        border: 1px solid #a39237;
        background: linear-gradient(45deg, black, black, transparent);
        border-right: none;
        font-size: 2dvh;
        z-index: 2;
        border-top: none;
        
        &:focus {
          border: none;
          transform: scale(0.98);
          box-shadow: none;
        }
      }

      textarea {
        height: -webkit-fill-available;
      }

      .button {
        height: 12dvh;
        width: 100%;    
      }
    }
  }

  .workDetails {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    transition: 0.3s;
    width: 58dvw;
    gap: 4dvh;
    left: -58dvw;
    top: 0;

    .cancelBtn {
      top: -2dvh;
      height: 15dvh;
      position: absolute;
      width: 5.5dvh;
      left: 5dvh;
      z-index: 6;
    }

    div, p {
      position: relative;
      z-index: 6;
    }

    .head, .description, .views {
      transition: .3s;
    }

    .head, .a, .b, .c, .d, .e, .f, .g, .h, .i {
      bottom: -15%; opacity: 0; filter: blur(50px);
    }

    .head {
      display: flex;
      height: 15%;
      align-items: center;
      gap: 2dvw;

      h1 {
        font-family: Esp;
        font-size: 3.5dvh;
        font-weight: 100;
      }

      h3 {
        font-family: dcd;
        font-size: 3.5dvh;
      }

      p {
        font-size: 2dvh;
        bottom: -8%;
      }
    }

    .description {
      font-size: 2.5dvh;
    }

    .views {
      display: flex;
      height: 25dvh;
      gap: 5dvh;

      .screenshot {
        border-radius: .7dvh;
        height: 100%;
      }
    }

    .techStack {
      display: flex;
      gap: 3dvh;
      height: 5dvh;
      align-items: center;

      img {
        width: 3dvw;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100dvw;
      height: 100dvh;
      left: 0;
      z-index: 6;
      top: 0;
      backdrop-filter: blur(10px);
      filter: brightness(.6);
    }

    .projectLinks {
      width: 70%;
      display: flex;
      gap: 6dvh;

      .button {
        width: 50%;
        height: 5dvh;
      }
    }
  }
}

.undefined {

  .head, .a, .b, .c, .d, .e, .f, .g, .h, .i {
    animation: transition-in .7s ease-out forwards;
  }
  .a {
    animation-delay: .3s;
  }
  .b {
    animation-delay: .6s;
  }
  .c {
    animation-delay: .9s;
  }
  .d {
    animation-delay: 1.2s;
  }
  .e {
    animation-delay: 1.5s;
  }
  .f {
    animation-delay: 1.8s;
  }
  .g {
    animation-delay: 2.1s;
  }
  .h {
    animation-delay: 2.4s;
  }
  .i {
    animation-delay: 2.7s;
  }
}

.inactive {
  height: 6dvh;
  width: 90%;

  img, h3, p {
    transition: .3s;
    opacity: 0;
  }
}

.active {
  width: 100%;

  img, h3, p {
    transition: .3s;
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  z-index: -1;
  
  &::after {
    content: none;
    opacity: 0;
  }
}

.visible {
  z-index: 12;
  opacity: 1;
  
  &::after {
    opacity: 1;
    content: "";
  }
}

@media (max-width: 900px) { //Tab Only

  .home {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3dvh 2dvh;
    height: auto;

    .about {
      flex-direction: row;
      width: 100%;
      top: 0;
      height: auto;
      left: 0;
      position: relative;

      img {
        height: 3dvh;
      }

      h1 {
        display: none;
      }
      
      div {
        width: 85%;
        gap: 1dvh;
      }

      .text {
        gap: 1dvh;

        &:nth-child(1)::before {
          height: 55dvh;
        }

        h2 {
          font-size: 3dvh;
        }

        span {
          h4 {
            font-size: 1.8dvh;
          }
          p {
            font-size: 1.6dvh;
          }
        }
      }
    }

    section {
      bottom: -8dvh;
      width: 100%;
      height: 25dvh;
  
      h1 {
        font-size: 3.5dvh;
        left: -11dvh;
        top: 6dvh;
      }
      
      .heroContainer {
        position: relative;

        .hero:nth-child(1) {
          left: 5%;
          bottom: -5%;
        }
        .hero:nth-child(2) {
          transform: rotate(10deg) scale(0.9) translate(43%, -28%);
        }
        .hero:nth-child(3) {
          transform: rotate(30deg) scale(0.8) translate(120%, -48%);
        }
      }
        
      .hero {
        height: 36dvh;
      }
        
      .contactIcons {
        height: 18dvh;
        bottom: 33dvh;
        right: 3dvh;
        width: 10dvh;

        a, span {
          right: -7dvh;

          img {
            height: 3dvh;
          }
        }
      }
    }

    .recentWork {
      bottom: -5dvh;
      width: 90dvw;
      height: 115dvh;

      .form {
        top: 25dvh;
        position: fixed;
        width: 90%;
        height: 60dvh;
  
        &::after {
          position: fixed;
          top: 0;          
        }
  
        .cancelBtn {
          height: 10%;
        }

        .button {
          height: 10dvh;
        }
      }
    }

    .workDetails {
      width: 100dvw;
      left: 0;
      position: fixed;

      .cancelBtn {
        padding: 1dvh;
        width: 4dvh;
        left: 3dvh;
      }
      
      .head {
        height: 10%;

        h1 {
          font-family: Esp;
          font-size: 5.5dvh;
        }
      
        h3 {
          font-family: dcd;
          font-size: 1.6dvh;
          bottom: -8%;
          position: relative;
        }
        p {
          font-size: 1.5dvh;
          bottom: -10%;
        }
      }

      .description {
        font-size: 2dvh;
      }
      
      .views {
        height: 22dvh;
        gap: 1dvh;

        .screenshot:nth-child(2) {
          height: 80%;
          bottom: -20%;
          position: relative;
        }
      }
    
      .techStack img {
        width: 10dvw;
      }

      .projectLinks {
        width: 90%;
        gap: 2dvh;
      }

      &::before {
        position: fixed;
      }
    }
  }

  .undefined {
    z-index: 12;
  }

  .active {
    height: 50dvh;
  }
}

@media (max-width: 500px) { //mobile Only
  .home {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;

    .about {
      flex-direction: column;

      img {
        display: none;
      }

      h1 {
        display: flex;
        transform: rotate(0);
        left: 0;
        font-size: 1.5dvh;
        position: relative;
        margin-bottom: 4dvh;
        top: 0;

        &::before {
          width: 15dvh;
          left: 1.5dvh;
          top: 2.6dvh;
        }
      }

      div {
        width: 100%;
        flex-direction: column;
        gap: 2dvh;
      }

      .text {
        flex-direction: row;

        &:nth-child(1)::before {
          left: -1.1dvh;
          height: 68dvh;
        }

        h2 {
          font-size: 3dvh;
        }

        span {
          h4 {
            font-size: 2dvh;
          }
        }
      }
    }

    section {
      bottom: -4dvh;
      height: 40dvh;
  
      h1 {
        font-size: 3dvh;
        left: -10dvh;
        top: 6dvh;
      }

      .heroContainer {

        .hero {
          height: 40dvh;
  
          &:nth-child(1) {
            width: 50dvw;
            left: 5%;
          }
          &:nth-child(2) {
            transform: rotate(10deg) scale(0.9) translate(106%, -1%);
            width: 42dvw;
          }
          &:nth-child(3) {
            width: 40dvw;
            transform: rotate(30deg) scale(0.8) translate(191%, -16%);
          }
        }
      }

      .contactIcons {
        bottom: 5dvh;
        right: 2dvh;
        width: 8dvh;

        a, span {
          right: -5dvh;
        }
      }
    }

    .recentWork {
      bottom: -12dvh;
      width: auto;
      height: 115dvh;
      justify-content: flex-start;

      h2 {
        z-index: 4;
      }

      .project {
        z-index: 4;

        p {
          font-size: 1.6dvh;
        }
      }

      .form {
        top: 25dvh;
        position: fixed;
        width: 90%;
        height: 60dvh;
  
        &::after {
          position: fixed;
          top: 0;          
        }
  
        .cancelBtn {
          height: 10%;
        }

        .button {
          height: 10dvh;
        }
      }
    }

    .workDetails {
      .views {
        height: 15dvh;
      }
    }
  }

  .active {
    height: 30dvh;
  }
}

@media (min-width: 901px) { //desktop Only

  .home {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100dvh;

    .about {
      position: absolute;
      flex-direction: row;
      top: 5dvh;
      left: 3dvh;
      width: 55dvw;
      height: 25dvh;

      h1 {
        font-size: 6.5dvh;
        left: -22dvh;
        top: 56dvh;

        &::before {
          width: 77dvh;
          left: 6.5dvh;
          top: 10dvh;
        }
      }
  
      img {
        height: 16%;
      }
      
      div {
        width: 90%;
        gap: 1dvh;
      }
      
      .text {
        gap: 1.5dvh;

        &:nth-child(1)::before {
          height: 82dvh;
        }
        h2 {
          font-size: 5dvh;
        }
        span {

          h4 {
            font-size: 2.3dvh;
          }
          p {
            font-size: 2dvh;
          }  
        }
      }
    }

    section {
      width: 50dvw;
      height: 70dvh;

      .hero {
        width: 32dvh;
        height: 55dvh;

        &:nth-child(1) {
          left: 10%;
        }
        &:nth-child(2) {
          transform: rotate(10deg) scale(.9) translate(101%, -1%);
        }
        &:nth-child(3) {
          transform: rotate(28deg) scale(0.8) translate(172%, -17%);
        }
      }

      .contactIcons {
        height: 25dvh;
        bottom: 5dvh;
        right: 45dvw;
        width: 15dvh;

        a, span {
          right: -10dvh;

          img {
            height: 4dvh;
          }
        }
      }
    }

    .recentWork {
      width: 41dvw;
      height: 100%;
    }
  }

  .active {
    height: 50dvh;
  }
}